<div class="profile">
    <img src="https://avatars.githubusercontent.com/u/78503985?v=4" class="profile-img">
        <p class="profile-text">Apasionado por la informática y la ciberseguridad, Programación web y scripts, también hacer writeups, Ctf player, Hack The Box y Tryhackme.</p>
        <div>
            <a href="https://www.hackthebox.eu/profile/351582"><img src="/_site/assets/img/Principal/htb2.png"></a>
            <a href="https://github.com/Gr4ykt"><img src="/_site/assets/img/Principal/github.png"></a>
            <a href="https://twitter.com/thorfinn_san"><img src="/_site/assets/img/Principal/twitter.png"></a>         
        </div>   
</div>