/* Estilos generales sin cambios */

/* Para pantallas más pequeñas, como dispositivos móviles */
@media screen and (max-width: 768px) {
    .body-main {
      font-size: 14px; /* Reducir el tamaño de fuente */
    }
  
    hr {
        width: 90%;
        text-align: center;
    }
    
    nav {
        display: block; /* Cambiar a un diseño de bloque en lugar de flex */
        text-align: center;
    }
  
    nav a {
      margin: 5px 0; /* Añadir margen vertical en lugar de horizontal */
    }

    li a{
        font-size: 25px;
    }
  
    .profile {
      width: 100%; /* Ocupar todo el ancho disponible */
      text-align: center;
    }
  
    .main {
      width: 100%; /* Ocupar todo el ancho disponible */
      padding-right: 5%;
      padding-left: 5%;
    }
  
    .mov-text {
      font-size: 18px; /* Reducir el tamaño de fuente */
    }
  }
  
  /* Para pantallas medianas, como tabletas */
  @media (min-width: 769px) and (max-width: 1024px) {
    .body-main {
      font-size: 15px; /* Ajustar el tamaño de fuente */
    }
  
    .profile {
      width: 30%; /* Utilizar un ancho fijo para la barra lateral */
    }
  
    .main {
      width: 70%; /* Ajustar el ancho del contenido principal */
    }
  }
  
  /* Estilos generales sin cambios */
  
  