/* Estilos para dispositivos pequeños (teléfonos) */
@media screen and (max-width: 480px) {
  /* AQUÍ VA EL CONTENIDO PARA DISPOSITIVOS PEQUEÑOS */

  .body-main {
    font-size: 20px;
  }

  hr {
      width: 90%;
      text-align: center;
  }
  
  nav {
      display: block;
      text-align: center;
  }

  nav a {
    margin: 5px 0;
  }

  li a{
      font-size: 25px;
  }

  .profile-img{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 0 0 0 0;
}
  div a img {
    width: 60px;
    height: 60px;
    margin: 5px 10px 0 0;
    display: inline-block;
    transition: transform 0.2s;
  }

  .profile {
    width: 100%; 
    text-align: center;
  }

  .main {
    width: 100%; 
    padding-right: 5%;
    padding-left: 5%;
  }

  .mov-text {
    font-size: 40px;
  }
}

/* Estilos para dispositivos con pantalla en orientación vertical */
@media screen and (orientation: portrait) {
  /* AQUÍ VA EL CONTENIDO PARA PANTALLAS EN ORIENTACIÓN VERTICAL */
  .body-main {
    font-size: 20px;
  }

  hr {
      width: 90%;
      text-align: center;
  }
  
  nav {
      display: block;
      text-align: center;
  }

  nav a {
    margin: 5px 0;
  }

  li a{
      font-size: 25px;
  }

  .profile-img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 0 0 0;
}
  div a img {
    width: 60px;
    height: 60px;
    margin: 5px 10px 0 0;
    display: inline-block;
    transition: transform 0.2s;
  }

  .profile p{
    font-size: 23px;
  }
  .profile {
    width: 100%; 
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  .main {
    width: 100%; 
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: block;
  }

  .mov-text {
    font-size: 30px;
  }
  .rouge-table {
    font-size: 30px;
  }
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
  }
}


/* Estilos para impresión (hojas de estilo para impresión) */
@media print {
  /* AQUÍ VA EL CONTENIDO PARA IMPRESIÓN */
  .body-main {
    font-size: 20px;
  }

  hr {
      width: 90%;
      text-align: center;
  }
  
  nav {
      display: block;
      text-align: center;
  }

  nav a {
    margin: 5px 0;
  }

  li a{
      font-size: 25px;
  }

  .profile-img{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 0 0 0 0;
}
  div a img {
    width: 60px;
    height: 60px;
    margin: 5px 10px 0 0;
    display: inline-block;
    transition: transform 0.2s;
  }

  .profile {
    width: 100%; 
    text-align: center;
  }

  .main {
    width: 100%; 
    padding-right: 5%;
    padding-left: 5%;
  }

  .mov-text {
    font-size: 18px;
  }
}