*{
    margin: 0%;
    padding: 0%;
}

.body-main {
    font-family: Arial, Helvetica, sans-serif; /* Cambiamos a una fuente sans-serif */
    background-color: rgb(17, 17, 17);
    font-size: 16px; /* Tamaño de fuente base */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #333; /* Color de texto predeterminado */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(48, 158, 48); 
    text-align: center;
}


/* NAVEGACION */
.title-page a {
    padding: 20px 0;
    font-size: 60px;
    background-color: rgb(17, 17, 17);
    text-align: center;
    -webkit-text-fill-color: #00FF00;
    -webkit-text-stroke: 2px #00AA00;
    transition: text-shadow 0.5s; /* Agregar una transición suave a text-shadow */
}

.title-page a:hover {
    text-shadow: 0 0 5px #00FF00; /* Cambiar la sombra del texto al pasar el cursor sobre el título */
}


/* Cambia el cursor a un estilo de terminal (opcional) 
.title-page a:hover {
    
}
*/

nav {
    margin: 1px;
    background-color: rgb(17, 17, 17);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.horizontal-list {
    list-style: none;
    padding: 0;
}

.horizontal-item {
    display: inline;
    margin-right: 10px; /* Añade margen entre los elementos si lo deseas */
}

.horizontal-item a {
    text-decoration: none;
    color: #00FF00;
    transition: color 0.2s; /* Agregar una transición de color suave */
}

.horizontal-item a:hover {
    text-decoration: underline;
    color: #00FF00; /* Cambiar el color al pasar el cursor sobre el enlace */
}


/* PERFIL */
.profile-text{
    text-align: center;
    align-items: center;
    color: rgb(189, 189, 189);
    margin: 15px 0px 0 0;
    font-size: 15px;
}

.profile{
    display: inline-block; /* Agregamos esta propiedad */
    width: 25%;
    padding: 20px;
    padding-left: 2%;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
    text-align: center;
    position: sticky;
    vertical-align: auto; /* Alineamos el contenido en la parte superior */
}

.profile-img{
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 0 0 0;
}

a{
    color: rgb(48, 158, 48);
}
div a img {
    width: 45px;
    height: 45px;
    margin: 5px 10px 0 0;
    display: inline-block;
    transition: transform 0.2s; /* Agregar una transición suave */
  }
  
  div a img:hover {
    transform: scale(1.3); /* Hacer que la imagen sea un 10% más grande al pasar el cursor sobre ella */
  }
  


/* INFORMACION DINAMICA */
.main{
    width: 75%;
    padding: 0px;
    padding-right: 8%;
    float:right;
    background-color: rgb(17, 17, 17);
}

.mov-text{
    text-align: justify;
    align-items: center;
    color: rgb(189, 189, 189);
    margin: 15px 0px 0 0;
    font-size: 20px;
    margin-top: -14px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    clear: both;
    float: center;
    margin-top: 0%;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 15px;
}

/* Personaliza el estilo del contenedor de código */
.highlight {
    background-color: #272822;
    border: 1px solid #272822;
    padding: 5px 0 0 0;
    overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
  }
  
  /* Personaliza el estilo de la tabla */
  .rouge-table {
    margin: 5px;
    font-size: 20px;
  }
  
  /* Personaliza el estilo de las celdas */
  .gutter {
    color: #616161;
    background-color: #272822;
    border-right: 1px solid #616161;
    padding: 0 5px 0 0;
    text-align: center;
  }td.code{
    padding-left: 15px;
  }