/* Barra de desplazamiento vertical */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Track (fondo de la barra) */
::-webkit-scrollbar-track {
    background: none; /* Color de fondo del track */
}

/* Thumb (el indicador de la posición actual) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del indicador de posición actual */
    border-radius: 6px; /* Radio de esquinas del indicador */
}

/* Barra de desplazamiento horizontal */
::-webkit-scrollbar:horizontal {
    height: 12px; /* Altura de la barra de desplazamiento horizontal */
}
