<!doctype html>
<html> 
 <head> 
   <meta charset="utf-8"> 
   <title>{{ page.title }}</title> 
   <link rel="stylesheet" href="https://github.com/Gr4ykt/graykt.github.io/blob/main/assets/css/styles.css">
 </head> 
 <body class="body-main">
    <!-- Caja 1: navegacion -->
    {% include navigation.html %}  
    <hr style="border-color: rgb(65, 65, 65);">
    <!-- Caja 2: perfil -->
    {% include profile.html %}

    <section class="main">
      <div>
        <div class="mov-text">
          <!-- Caja 3: contenido dinamico -->
          <aside>{{ content }}</aside>  
        </div>
      </div>
    </section>

    <!-- Caja 4: pie de pagina-->
    {% include footer.html %}  

    <!-- Scripts js -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/what-input.js"></script>
    <script src="/assets/js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <!-- Fin Scripts js -->
 </body> 
</html>
